:focus {
	outline: 0 !important;
}

* {
	font-family: HelveticaNeue-Light, HelveticaNeue, Helvetica, Arial, sans-serif !important;
    text-rendering: optimizeLegibility !important;
}

/* force a scroll bar so when comments show there's no jump 
http://ryanfait.com/resources/forcing-vertical-scrollbars/
*/

html, body {
  height: 100% !important;
  margin: 0 0 1px !important;
  padding: 0 !important;
}

a,
a:link,
a:visited  {
	color: #990000 !important;
	text-decoration:none !important;
} 
      
a:hover, 
a:active {
	color: #FF0000 !important;
	text-decoration:none !important;
}    


#clean-youtube-h1 {
	font-size: 3em !important;
	font-weight: normal !important;
	color: #333333 !important;
}

#clean-youtube-home-h1 {
	font-size: 3em !important;
	font-weight: normal !important;
	color: #333333 !important;
	margin-top:100px !important;
}

#clean-youtube-home-h1 span,
#clean-youtube-h1 span {
	color: #990000 !important;
}

.feedmodule-updown {
	display: none !important;
}

/* #masthead {
    display: none !important;
} */


#masthead-container {
	width: 100% !important;
	border-bottom: 0px !important;
}

#masthead-nav {
	display: none !important;
}

#masthead-search-term {
	border: 1px solid #AAAAAA !important;
}

#masthead-utility-clean-youtube-home {
	width: 300px !important;	
	text-align: left !important;
	overflow: hidden !important;
	clear: both !important;
	padding: 15px 0px 0px 0px !important;
}

#watch-headline-title {
	font-weight: normal !important;
	color: #333 !important;
	font-size: 3em !important;
	height: auto !important;
	line-height: 130% !important;
	margin: 20px 0px 20px 0px !important;
	max-height: 1000px !important;
	overflow: hidden !important;
	text-align: center !important;
}

#watch-main-container {
	/* display: none !important; */
}

/* watch-main seems to be where comments live */

#watch-main {
    width: 640px !important;
}

.hide-comments {
    display:none !important;
}


#watch-sidebar {
	display: none !important;
}

#watch-headline-user-info {
	text-align: center !important;
	margin: 0 auto 0 auto !important;
}

#clean-youtube-userinfo {
	text-align: center !important;
	margin: 3em auto 0 auto !important;
}

#pagebottom,
#footer-container {
	display: none !important;
}

#watch-player {
	margin: 0 auto 0 auto !important;
}

/* advertising 
---------------- */
#search-pva,
#ad_creative_1 {
	display: none !important;
}


/* homepage modules 
------------------*/
#feedmodule-FEA,
#feedmodule-SUB,
#feedmodule-REC,
#feedmodule-FRI,
#feedmodule-PRO,
#feedmodule-POP,
#feedmodule-TOP  {
	display: none !important;
}

#iyt-add-remove-module-div,
#homepage-side-content {
	display: none !important;
}

/* wide
------------------*/

#watch-video-container {
    background: #FFFFFF !important;
}

#toggle-comments {
    font-size: 1.75em !important;
    margin: 10px !important;
    cursor: pointer !important;
}